@using HNB.Models
@{
    ViewBag.Title = "Horizon Nova後台管理系統";
    Layout = "~/Areas/HNB_WEB/Views/Shared/_LayoutDashboard.cshtml";
    var menuList = (List<SysMenu>)ViewBag.MenuList;

}
@section js_section
{
    <script>
        function showSwitchSkinForm() {
            var url = '@Url.Content("Skin")';
            $("#skinModalIframe").attr("src", url);
            $("#skinModal").modal("show");
        }

    </script>
}
<div id="wrapper">
    <!--左側導覽-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="logo">一Horizon Nova後台</li>
                <li class="nav-header">
                    <div class="dropdown profile-element clear">
                        <div class="image-left">
                            <img alt="image" src='~/image/Team_introduction/UnkonwUser.png' class="img-circle profile-img rounded-circle me-2" height="50" width="50" />
                        </div>
                        <div class="image-right">
                            <span class="block m-t-xs">UserName</span>
                            <span class="text-xs block">DepartmentName</span>
                        </div>
                    </div>
                </li>

                @foreach (var menu in menuList.Where(m => m.ParentId == 0).OrderBy(m => m.MenuSort))
                {
                    var hasSecondLevel = menuList.Any(m => m.ParentId == menu.Id);
                    <li data-type="menu">
                        @if (!hasSecondLevel)
                        {
                            <a class="menuItem">
                                <i class="@menu.MenuIcon"></i>
                                <span class="nav-label">@menu.MenuName</span>
                            </a>
                        }
                        else
                        {
                            <a href="menu.MenuUrl">
                                <i class="@menu.MenuIcon"></i>
                                <span class="nav-label">@menu.MenuName</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level collapse" data-type="menu">
                                @foreach (var secondMenu in menuList.Where(m => m.ParentId == menu.Id && m.MenuType != 3).OrderBy(m => m.MenuSort))
                                {
                                    var hasThirdLevel = menuList.Any(m => m.ParentId == secondMenu.Id && m.MenuType != 3);
                                    <li data-type="menu">
                                        @if (!hasThirdLevel)
                                        {
                                            <a class="menuItem"href="@menu.MenuUrl"
                                               data-url="@Url.Content("~/" + secondMenu.MenuUrl)">
                                                @secondMenu.MenuName
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);">@secondMenu.MenuName <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level" data-type="menu">
                                                @foreach (var thirdMenu in menuList.Where(m => m.ParentId == secondMenu.Id && m.MenuType != 3).OrderBy(m => m.MenuSort))
                                                {
                                                    <li data-type="menu">
                                                        <a class="menuItem"href="@menu.MenuUrl"data-url="@Url.Content("~/" + thirdMenu.MenuUrl)">
                                                            @thirdMenu.MenuName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>


        </div>
    </nav>

    <!--右側內容-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <a class="navbar-minimalize minimalize-styl-2" href="#" title="收起選單">
                    <i class="fa fa-bars"></i>
                </a>
                <ul class="nav navbar-top-links navbar-right welcome-message">
                    <li><a id="fullScreen"><i class="fa fa-arrows-alt"></i>全螢幕</a></li>
                    <li class="dropdown user-menu">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-hover="dropdown">
                            <img alt="image" src='~/image/Team_introduction/UnkonwUser.png' class="user-image profile-img rounded-circle me-2" height="50" width="50" />
                            <span class="hidden-xs">RealName</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="mt5">
                                <a class="menuItem" href="#" data-url=''>
                                    <i class="fa fa-user"></i> 個人資料
                                </a>
                            </li>
                            <li>
                                <a onclick="showChangePasswordForm()">
                                    <i class="fa fa-key"></i> 修改密码
                                </a>
                            </li>
                            <li>
                                <a onclick="showSwitchSkinForm()">
                                    <i class="fa fa-dashboard"></i> 切換主题
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" onclick="loginOff()">
                                    <i class="fa fa-sign-out"></i> 登出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active menuTab" data-id="">首頁</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                    頁籤操作<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li><a class="tabCloseCurrent" href="#">關閉目前</a></li>
                    <li><a class="tabCloseOther" href="#">關閉其他</a></li>
                    <li><a class="tabCloseAll" href="#">全部關閉</a></li>
                </ul>
            </div>
            <a href="#" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
        </div>
        <div class="row mainContent" id="content-main">
            <iframe class="YiSha_iframe" name="iframe0" width="100%" height="100%" data-id="/system/main" src="@Url.Content("~/HNB_WEB/User/UserIndex")" frameborder="0" seamless></iframe>
        </div>
    </div>
</div>

<div class="modal fade" id="skinModal" tabindex="-1" aria-labelledby="skinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="skinModalLabel">切換主題</h5>
            </div>
            <div class="modal-body p-0" style="height: 390px;">
                <iframe id="skinModalIframe" src="" frameborder="0" style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>
